/* --------------------------------------------------------------------------
 * >>> Variables :
 * -------------------------------------------------------------------------- */


// Fonts
$mainFont: 'Roboto', sans-serif;

// Colors
$white: #ffffff;
$black: #333;
$grey: #2C2C2C;
$grey2: #B5B5B5;
$blue: #18A0FB;
